.Header-Container {
    height: 114px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Baskerville;
    font-weight: 'lighter';
}

h1 {
    font-weight: lighter;
    text-transform: uppercase;
}